{% extends 'login/cb.html' %}
{% load staticfiles %}

{% block title %}login{% endblock %}

<!--{% block header %}Login to communicate{% endblock %}-->

<!--{% block active %}
  <li role="presentation"><a href={% url "login:index" %}>Home</a></li>
  <li role="presentation" class="active"><a href={% url "login:login" %}>Login</a></li>
  <li role="presentation"><a href={% url "login:register" %}>Register</a></li>
{% endblock %}-->

{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-login" action="{% url 'login:login' %}" method="post">
			{% if warning %}
				<div class="alert alert-warning">{{ warning }}</div>
			{% endif %}
			{% csrf_token %}
                <h2 class="text-center">Welcome!</h2>
                <!--<div class="form-group">
                    <label for="id_username">Username: </label>
                    <input type="text" name="username" class="form-control" id="id_username" placeholder="Username" autofocus required>
                </div>-->
				<div class="form-group">
					{{ login_form.username.label_tag }}
					{{ login_form.username }}
				</div>
				<div class="form-group">
					{{ login_form.password.label_tag }}
					{{ login_form.password }}
				</div>
				<button type="reset" class="btn btn-default pull-left">Clear</button>
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="{% url 'login:reset' %}">Forget your password?</a></li>
				</ul>
				<button type="submit" class="btn btn-default pull-right">Log in</button>
            </form>
        </div>
    </div>
{% endblock %}