{% extends "login/cb.html" %}
{% load staticfiles %}

{% block presentation %}
<li role="presentation"><a href="{% url 'login:index' %}">主页</a></li>
<li role="presentation"><a href="{% url 'login:login' %}">日志</a></li>
<li role="presentation"><a href="{% url 'chatroom:rooms' %}">谈谈</a></li>
<li role="presentation" class="dropdown active">
    <a id="menu-select" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	三国杀 <span class="caret"></span>
	</a>
    <ul class="dropdown-menu">
        <li role="presentation"><a href="{% url 'cards:index' %}">扩展卡牌</a></li>
        <li role="presentation"><a href="{% url 'login:test' %}">test</a></li>
    </ul>
</li>
{% endblock %}

{% block header %}Cards List{% endblock %}

{% block content %}
<h1></h1>
<div class="container">
<div class="row">
<div class="col-sm-6">
{% if nocards %}
	<p>no cards found.</p>
{% else %}
	{% if heros %}
	<ul><b>HeroCards:</b>
	{% for hero in heros %}
		<li><a href='{% url "cards:card" hero.blog.id %}'>{{ hero }}</a></li>
	{% endfor %}
	</ul>
	<hr />
	{% endif %}
	
	{% if basics %}
	<ul><b>BasicCards:</b>
	{% for basic in basics %}
		<li><a href='{% url "cards:card" basic.blog.id %}'>{{ basic }}</a></li>
	{% endfor %}
	</ul>
	<hr />
	{% endif %}
	
	{% if equips %}
	<ul><b>EquipCards:</b>
	{% for equip in equips %}
		<li><a href='{% url "cards:card" equip.blog.id %}'>{{ equip }}</a></li>
	{% endfor %}
	</ul>
	<hr />
	{% endif %}
	
	{% if wisdoms %}
	<ul><b>WisdomCards:</b>
	{% for wisdom in wisdoms %}
		<li><a href='{% url "cards:card" wisdom.blog.id %}'>{{ wisdom }}</a></li>
	{% endfor %}
	</ul>
	<hr />
	{% endif %}
	
	{% if bads %}
	<ul><b>BadCards:</b>
	{% for bad in bads %}
		<li><a href='{% url "cards:card" bad.blog.id %}'>{{ bad }}</a></li>
	{% endfor %}
	</ul>
	<hr />
	{% endif %}
{% endif %}
</div>
</div>
</div>
{% endblock %}