/*************************
*******Header CSS******
**************************/

.header_top {
  background: none repeat scroll 0 0 #172431;
}

.contactinfo ul li:first-child{
    margin-left: -12px;
}

.contactinfo ul li a{
  font-size: 12px;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
}

.menu ul li a{
    font-size: 12px;
    color: #ccc;
    font-family: 'Roboto', sans-serif;
}

.col-center-block {
	float: none;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.main-photo {
	margin-left: 20px;
}

.btn {
	background: transparent;
	background-image: -moz-linear-gradient(#3280ba 1px, #3280ba 100%);
	background-image: linear-gradient(#3280ba 1px, #3280ba 100%);
	background-image: -ms-linear-gradient(#3280ba 1px, #3280ba 100%);
	background-image: -webkit-linear-gradient(#3280ba 1px, #3280ba 100%);
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	color: #fff;