{% extends 'login/cb.html' %}

{% load staticfiles %}

{% block css%}
<link href="{% static 'chatroom/css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block presentation %}
<li role="presentation"><a href="{% url 'login:index' %}">主页</a></li>
<li role="presentation"><a href="{% url 'login:login' %}">日志</a></li>
<li role="presentation" class="active"><a href="{% url 'chatroom:rooms' %}">谈谈</a></li>
<li role="presentation" class="dropdown">
    <a id="menu-select" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	三国杀 <span class="caret"></span>
	</a>
    <ul class="dropdown-menu">
        <li role="presentation"><a href="{% url 'cards:index' %}">扩展卡牌</a></li>
        <li role="presentation"><a href="{% url 'login:test' %}">test</a></li>
    </ul>
</li>
{% endblock %}

{% block header %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
			{% if topic %}
				<h1><span style="color:#6E6E6E">Chatroom #{{ id }}: </span><b>{{ topic }}</b></h1>
			{% else %}
				<h1><span style="color:#6E6E6E">Chatroom: </span><b>#Room{{ id }}</b></h1>
			{% endif %}
    </div>
</div>
{% endblock %}

{% block content %}
<script type="text/javascript">
$(function(){
	updateMsg();
	$("#messageForm").submit(function(){
		$.post("{% url 'chatroom:post' %}",
			$("#messageForm").serialize(),
			function(data){
				$("#content").val("");
				//chat = JSON.parse(data);
				//id = chat["pk"];
				//user = chat["field"]["user"];
				//ct = chat["field"]["said_time"];
				//said = chat["field"]["said"];
				//$(".chat-discussion").append("<dt class='text-left'>" + user + "-" + ct + "</dt>");
				//$(".chat-discussion").append("<dd class='text-left'>" + said + "</dd>");
				//$(".chat-discussion").append("<input type='hidden' class='chat_list' value='" + id + "'>");
		});
		return false;
	});
})
window.addEventListener("beforeunload", function(e){
	$.post("{% url 'chatroom:post' %}", {post_type:"leave", room_id:{{ id }},},function(data){});
	return "leave chatroom?"
})
</script>
<script type="text/javascript">
    function updateMsg(){
	    last_id = $(".chat_list").first().val();
	    if (last_id){
	    }else{
		    last_id = "0";
	    }
	    $.post(
		    "{% url 'chatroom:post' %}",{
			    post_type:"get",
			    room_id: {{ id }},
			    last_chat: last_id,
		    },
		    function(data){
			    obj = JSON.parse(data);
			    for (var i=0;i<obj.length;i++){
				    chat = obj[i];
				    id = chat["pk"];
				    user = chat["fields"]["user"];
				    var st = new Date(chat["fields"]["said_time"]);
				    ct = st.toLocaleString();
				    said = chat["fields"]["said"];
					$(".chat-discussion").prepend("<dt class='text-left'>"+user+"-"+ct+"</dt>"+"<dd class='text-left'>"+said+"</dd>"+"<input type='hidden' class='chat_list' value='"+id+"'>"+"<hr />");
				    //$(".chat-discussion").append("<hr />");
				    //$(".chat-discussion").append("<dt class='text-left'>" + user + "-" + ct + "</dt>");
				    //$(".chat-discussion").append("<dd class='text-left'>" + said + "</dd>");
				    //$(".chat-discussion").append("<input type='hidden' class='chat_list' value='" + id + "'>");
			    }
		    }
	    );
    }
    setInterval(updateMsg, 1000);
</script>
<script type="text/javascript">
	//alert will show xxx, yes to quit, no to back
	//window.onbeforeunload = function(){
		//return "xxx";
	//}
	window.onbeforeunload = function(){
		var n = window.event.screenX - window.screenLeft;
		var b = n > document.documentElement.scrollWidth - 20;
		if (!(b && window.event.clientY < 0 || window.event.altKey)){
			leaveChat();
		}
	}
</script>

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<form id="messageForm" action="." method="post">
			{% csrf_token %}
				<div class="input-group">
					<input type="text" name="message" id="content" class="form-control" autofocus="autofocus">
					<input type="hidden" name="post_type" value="send">
					<input type="hidden" name="room_id" value="{{ id }}">
					<span class="input-group-btn">
						<button type="submit" id="send" class="btn btn-default">send</button>
					</span>
				</div>
			</form>
		</div>
		<br />
		{% if chats %}
		<div class="col-sm-6 col-sm-offset-3">
			<dl class="chat-discussion">
				{% for chat in chats reversed %}
					<!--<hr />
					{% if forloop.counter|divisibleby:"2" %}
						<dt class="text-right">{{ chat.user.name }}   {{ chat.said_time }}</dt>
						<dd class="text-right">{{ chat.said }}</dd>
					{% else %}
						<dt class="text-left">{{ chat.user.name }}   {{ chat.said_time }}</dt>
						<dd class="text-left">{{ chat.said }}</dd>
					{% endif %}-->
					<hr />
					<dt class="text-left">{{ chat.user.name }}   {{ chat.said_time }}</dt>
					<dd class="text-left">{{ chat.said }}</dd>
					<input type="hidden" class="chat_list" value="{{ chat.id }}">
				{% endfor %}
			</dl>
		</div>
		{% else %}
		<div class="col-sm-8 col-sm-offset-2">
			<dl class="chat-discussion">
				<!--<dt class="text-left">Here is room: {{ id }}</dt>-->
				<dd class="text-left">Start your chat now.</dd>
			</dl>
		</div>
		{% endif %}
		<input type="hidden" class="test" value="123">
	</div>
</div>

{% endblock %}