{% extends 'login/cb.html' %}

{% load staticfiles %}

{% block header %}
<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
			<h1 align="center">Join now!</h1>
    </div>
</div>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
			{% if warning %}
				<div class="alert alert-warning">{{ warning }}</div>
			{% endif %}
				<ul class="list-group">
				{% for room in rooms %}
					<li class="list-group-item">
						<span class="badge">{{ room.members }}</span>
						{{ room.topic }}
						<button type="button" class="btn btn-default">Join</button>
					</li>
				{% endfor %}
				</ul>
				
				<form class="room-form" action="{% url 'chatroom:rooms' %}" method="post">
				{% csrf_token %}
					<div class="input-group">
						<input type="text" name="roomtopic" class="form-control" placeholder="add a topic">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-default">Create/Join</button>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}